@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600|Space+Mono:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Загальні стилі для повзунка прокрутки */
::-webkit-scrollbar {
  width: 12px; 
}

/* Фоновий фон для повзунка */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Стиль повзунка */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px; 
}

/* Стиль повзунка при наведенні миші */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}


button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

body {
  margin-left: 15px;
  margin-right: 15px;
  background: #2b2b2b;
}

a {
  transition: transform 0.2s;
  text-decoration: none;
}

a:hover {
  transform: scale(0.9);
  /* -10% */
  transition: transform 0.2s;
  cursor: pointer;
}

nav {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 15px;
  margin-left: 5px;
  justify-content: space-between;
  align-self: stretch;
  background-color: #2b2b2b;
}

/*------------------BURGER FUNCTIONAL---------------*/

.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  background: #333;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1;
}

/* Стилізація кнопки "Закрити" */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 0;
}

.close-button span {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.mobile-menu ul {
  list-style: none;
  padding: 0;
}

.mobile-menu ul li {
  margin-bottom: 10px;
}

.mobile-menu a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.mobile-menu-toggle {
  cursor: pointer;
}

/*----------------------------------------------*/

.mobile-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mobile-siteName {
  display: flex;
  flex-grow: 1;
  fill: white;
  text-align: center;
  align-items: center;
  margin-top: 3px;
}

.mobile-storefont {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-right: 12px;
}

.mobile-burger-menu {
  width: 24px;
  height: 24px;
}

/* HERO SECTION */
.mobile-hero-section-frame {
  display: flex;
  /* width: 1050px; */
  align-items: flex-start;
  gap: 40px;
}

.mobile-hero-section {
  display: flex;
  /* padding: 80px 195px; */
  /* margin-left: 30px; */
  margin-top: 45px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background-color: #2B2B2B;
}

.mobile-hero-text-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.mobile-headline-subhead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.mobile-headline {
  display: flex;
  /* width: 510px; */
  justify-content: center;
  color: #FFF;
  margin-bottom: 0;

  /* H1 - Work Sans */
  font-family: Work Sans;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 73.7px */
  text-transform: capitalize;
}

.mobile-subhead {
  color: #FFF;
  /* Body Text- Work Sans */
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 35.2px */
}

.mobile-hero-body-button {
  /* width: 100%; */
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
  background: #A259FF;
}

.mobile-hero-body-button-text,
.mobile-view-rankings-button-text {
  /* width: 100%; */
  height: 60px;
  color: #FFF;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 22.4px */
}

.mobile-hero-body-button-icon {
  width: 20px;
  height: 20px;
}

.mobile-highlited-NFT {
  display: flex;
  height: 510px;
  flex-direction: column;
  align-content: center;
  align-self: center;
  flex: 1 0 0;
}

.mobile-highlited-picture {
  /* width: 510px; */
  height: 401px;
  align-self: stretch;
  border-radius: 20px 20px 0px 0px;
  background: lightgray 50% / cover no-repeat;
  display: block;
  width: 100%;
}

.mobile-frame-230 {
  display: flex;
  height: 109px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0px 0px 20px 20px;
  background: #3B3B3B;
}

.mobile-frame-230-text,
.mobile-collection-info-name,
.mobile-artists-info-text,
.nft-name-text,
.explore-name {
  align-self: stretch;
  color: #FFF;
  margin: 0;
  /* H5 - Work Sans */
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 30.8px */
  text-transform: capitalize;
  margin-bottom: 0;
}

.mobile-artist-card {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 0 0 20px 20px;
}

.mobile-avatar {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.mobile-artist-info {
  display: flex;
  align-items: center;
}

.mobile-highlited-text {
  flex: 1 1 0;
  color: #FFF;

  /* Base(Body) - Work Sans */
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}

.mobile-additional-info {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 5px;
  height: auto;
  position: relative;
}

.mobile-total-sale,
.mobile-total-auctions,
.mobile-total-artists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  border-radius: 20px;
  flex: 1;
  height: auto;
  position: relative;
}

.mobile-total-info-name,
.mobile-additional-info-sales {
  color: white;

  /* Base(Body) - Work Sans */
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}

.mobile-total-info-head,
.browse-categories-headline {
  color: #FFF;
  /* width: 150px; */
  height: auto;
  /* H4 - Space Mono */
  font-family: Space Mono;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 39.2px */
  text-transform: capitalize;
  margin: 0;
}


/* TRENDING COLLECTION */
.mobile-collection-slider {
  display: flex;
  /* width: 315px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #2B2B2B;
}

.mobile-trending-collection {
  display: flex;
  /* margin-left: 30px; */
  padding: 80px 0px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  align-self: stretch;
  background-color: #2B2B2B;
}

.mobile-section-headline {
  display: flex;
  /* width: 1046px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.mobile-collection-card {
  display: flex;
  /* width: 330px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #2B2B2B;
}

.mobile-headline-sections {
  flex: 1 0 0;
  color: #FFF;
  margin-bottom: 0;

  /* H3 - Work Sans */
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 45.6px */
  text-transform: capitalize;
}

.mobile-collection-card {
  display: flex;
  /* width: 330px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #2B2B2B;
}

.mobile-photos-numbers {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.mobile-primary-photo-placeholder {
  height: 315px;
  align-self: stretch;
  border-radius: 20px;
  background: lightgray 50% / cover no-repeat;
}

.mobile-secondary-photo-placeholder {
  height: 100px;
  flex: 1 0 0;
  border-radius: 20px;
  background: lightgray 50% / cover no-repeat;
}

.mobile-frame-secondary {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.mobile-number_additional_NFT {
  display: flex;
  height: 100px;
  width: 100px;
  padding: 32px 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 20px;
  background-color: #A259FF;
}

.mobile-number_additional_NFT_text {
  color: #FFF;
  text-align: center;

  /* H5 - Space Mono */
  font-family: Space Mono;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  /* 35.2px */
  text-transform: capitalize;
  padding: 0;
}

.mobile-collection-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
}

.mobile-collection-info-name {
  margin-bottom: 10px;
}

.mobile-collection-info-artist-name {
  color: #FFF;

  /* Base(Body) - Work Sans */
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}

/*TOP RATED ARTISTS*/

.mobile-top-rated-artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-left: 30px; */
  gap: 40px;
  align-self: stretch;
  background: #2B2B2B;
  margin-bottom: 40px;
}

.mobile-artists-cards-row {
  /* margin-left: 5%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  align-self: stretch;
  /* width: 90%; */
}

.mobile-artists-card {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  border-radius: 20px;
  background: #3B3B3B;
}

.mobile-artists-avatar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  gap: 20px;
}

.mobile-artists-avatar-asset {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.mobile-artists-avatar-pref {
  border-radius: 100px;
  background: lightgray 50% / cover no-repeat;
  height: 60px;
  flex-shrink: 0;
}

.mobile-artists-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}

.mobile-artists-additional-info {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: stretch;
}

.mobile-additional-info-text {
  color: #858584;
  /* Base(Body) - Work Sans */
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.mobile-artists-ranking-number {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -5px;
  right: auto;
  top: -8px;
  border-radius: 50%;
  background: #2B2B2B;
}

.mobile-artists-ranking-number-text {
  position: absolute;
  left: 10px;
  top: 4px;
  color: #858584;
  text-align: center;

  /* Base (Body) - Space Mono */
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}

.mobile-view-rankings-button,
.tablet-view-rankings-button,
.discover-nft-see-all-button,
.discover-nft-see-all-button-tablet {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #A259FF;
  width: 100%;
}

.mobile-view-rankings-button img {
  margin-right: 12px;
}

.mobile-view-rankings-button-text {
  margin-top: 40px;
}

/*BROWSE CATEGORIES*/
.browse-categories {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(315px, 1fr)); */
  gap: 40px;
  margin-bottom: 40px;
}

.browse-categories-section-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 40px;
}

.browse-categories-headline {
  font-weight: 600;
}

.category-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.category-cards-row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-shrink: 0;
  align-self: stretch;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
  background: #3B3B3B;
  position: relative;
}

.category-card-photo-icon {
  align-self: stretch;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}

.category-card-image-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.category-card-image-placeholder img {
  align-self: stretch;
  border-radius: 20px 20px 0 0;
  height: 100%;
  width: 100%;
}

.category-card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(7.5px);
  /*add SAFARI!!!*/
}

.category-card-name {
  margin-top: 25px;
  margin-left: 20px;
  margin-bottom: 25px;
  margin-right: auto;
}

.mobile-highlited-text {
  font-weight: 600;
}

/*НА SAFARI BLUR НЕ РОБИТЬ*/


/* DISCOVER MORE NFTs */

.discover-nft-section {
  display: flex;
  padding: 40px 0px 60px 0px;
  flex-direction: column;
  /* align-items: center; */
  gap: 40px;
  align-self: stretch;
}

.discover-nft-section-headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.discover-nft-section-headline-text,
.h4-text {
  color: #FFF;

  /* H4 - Work Sans */
  font-family: Work Sans;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 39.2px */
  text-transform: capitalize;
}

.cards-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.nft-card-row {
  display: flex;
  /* width: 315px; */
  align-items: flex-start;
  gap: 30px;
}

.nft-card {
  display: flex;
  /* height: 402px; */
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  border-radius: 20px;
  background: #3B3B3B;
}

.nft-card img {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  height: 100%;
  width: 100%;

  border-radius: 20px 20px 0px 0px;
  background: lightgray 50% / cover no-repeat;
}

.nft-info {
  display: flex;
  padding: 20px 20px 25px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

.artist-info,
.artist-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  align-self: stretch;
}

/* .nft-name-text {

} */

.artist-avatar-name {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.artist-avatar {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.artist-avatar-asset {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.artist-avatar img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 120px;
  background: lightgray 50% / cover no-repeat;
}

.artist-name {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}

.artist-name {
  color: #FFF;

  /* Base (Body) - Space Mono */
  font-family: Space Mono;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}

.nft-additional-info {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.nft-price {
  display: flex;
  padding-right: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
  margin-top: 20px;
}

.nft-price-head-text,
.nft-highest-bit-head-text,
.nft-price-text,
.nft-highest-bit-text {
  color: #858584;

  /* Caption - Space Mono */
  font-family: Space Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 13.2px */

  align-self: stretch;
}

.nft-price-text,
.nft-highest-bit-text {
  color: white;
}

.nft-highest-bit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
}

.discover-nft-see-all-button {
  gap: 12px;
}

.discover-nft-see-all-button-text {
  color: #FFF;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 22.4px */
}


/*HIGHLIGHT SECTION */

.nft-highlight,
.nft-highlight-pc {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  background: linear-gradient(180deg, rgba(162, 89, 255, 0.00) 0%, #A259FF 100%), url("../img/nft-highlight/back.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.nft-highlight-info {
  display: flex;
  margin-top: 120px;
  justify-content: center;
  align-items: flex-end;
  align-self: stretch;
}

.nft-frame-240 {
  display: flex;
  /* width: 315px; */
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
}

.nft-artist-name-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  align-self: stretch;
}

.artist-card {
  background-color: #3B3B3B;
  display: flex;
  padding: 10px 20px;
  align-items: center;
  gap: 12px;
  border-radius: 20px;
  width: 150px;
}

.h3-text {
  color: white;
  /* H3 - Work Sans */
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  /* 45.6px */
  text-transform: capitalize;
}

.auction-timer,
.auction-timer-pc {
  display: flex;
  padding: 30px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 20px;
  background: rgba(59, 59, 59, 0.50);
  backdrop-filter: blur(5px);
}

.auction-timer-text {
  color: #FFF;
  /* Caption - Space Mono */
  font-family: Space Mono;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  /* 13.2px */
}

.timer,
.timer-pc {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}

.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  flex: 1 0 0;
}

.h4-text {
  color: white;
}

.nft-highlight-button {
  display: flex;
  height: 60px;
  padding: 22px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
  background: #FFF;
  margin-bottom: 40px;
}

.nft-highlight-button img {
  width: 20px;
  height: 20px;
}

.nft-highlight-button-text,
.datail-head,
.subscribe-widget-subhead,
.email-placeholder-text,
.subscribe-button-text,
.footer-text {
  color: #2B2B2B;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 22.4px */
}

/*HOW IT WORKS SECTION*/

.how-works {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  gap: 40px;
  align-self: stretch;
  margin-bottom: 40px;
}

/*for text uses classes discover-nft-section-headline etc.*/

.card-row {
  display: flex;
  /* width: 315px; */
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.info-card {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  border-radius: 20px;
  background: #3B3B3B;
}

.info-card img {
  width: 50%;
  height: 50%;
}

.card-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.datail-head {
  color: #FFF;
}

.detail-info {
  color: #FFF;
  font-family: Work Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 16.8px */
  align-self: stretch;
}

/*SUBSCRIBE WIDGET SECTION*/

.subscribe-widget,
.subscribe-widget-tablet {
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.subscribe-widget-img {
  height: 100%;
  align-self: stretch;
  border-radius: 20px;
  margin-bottom: 30px;
}

.subscribe-widget-frame179 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  align-self: stretch;
}

.subscribe-widget-subhead {
  font-weight: 400;
  color: white;
  text-align: left;
}

.left {
  margin-left: 0;
  margin-right: auto;
}

.input-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

.input-placeholder {
  display: flex;
  /* width: 315px; */
  width: 100%;
  height: 46px;
  padding: 16px 20px;
  align-items: center;
  gap: 12px;

  border-radius: 20px;
  border: 1px solid, #858584;
  background: #FFF;

  outline: none;
  border: none;
  text-transform: none;
}

.email-placeholder-text {
  text-align: left;
  text-transform: capitalize;
}

.subscribe-button {
  display: flex;
  width: 100%;
  height: 46px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 20px;
  background: #A259FF;

  margin-bottom: 40px;
}

.subscribe-button img {
  width: 20px;
  height: 20px;
}

.subscribe-button-text {
  color: white;
}

/*FOOTER*/

footer {
  display: flex;
  padding: 40px 0;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  background: #3B3B3B;
  box-sizing: border-box;
  width: 110%;
  margin-left: -15px;
  margin-right: 15px;
}

.footer-info {
  margin-top: 40px;
  display: flex;
  /* width: 315px; */
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
  margin-left: 15px;
}

.nft-marketplace-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.footer-logo {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 243.414px;
  height: 32px;
  margin-left: 0;
  margin-right: auto;
}

.footer-storefont {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.footer-sitename {
  margin-top: 10px;
  flex-shrink: 0;
  fill: white;
}

.footer-text {
  color: #CCC;
  font-weight: 400;
  text-align: left;
}

.community-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  align-self: stretch;
}

.community-social {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.explore-name {
  font-weight: 700;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.subscribe-form {
  margin-top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
}

.divider-section {
  display: flex;
  /* width: 80%; */
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.divider {
  width: 95%;
  height: 1px;
  background: #858584;
}


.mobile-highlited-NFT-tablet {
  display: none;
}


.mobile-collection-card-tablet {
  display: none;
}

.mobile-collection-card-pc {
  display: none;
}

.tablet-view-rankings-button {
  display: none;
}

.category-cards-tablet {
  display: none;
}

.discover-nft-see-all-button-tablet {
  display: none;
}

.timer-pc,
.auction-timer-pc {
  display: none;
}

.subscribe-widget-tablet {
  display: none;
}

.flex-row-mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nft-highlight-pc {
  display: none;
}

.nav,
.navigation {
  display: none;
}

/*TABLET*/

@media (min-width: 769px) {
  .header-element a {
    font-size: 18px;
  }

  .mobile-hero-section {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .mobile-highlited-NFT-tablet {
    display: block;
  }

  .mobile-highlited-NFT {
    display: none;
    width: 100%;
    height: 100%;
  }


  /*----------------------------------------------------------*/


  .mobile-collection-card-tablet {
    display: flex;
    /* width: 330px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
  }

  .mobile-photos-numbers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
  }

  .mobile-collection-slider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* width: 100%; */
    gap: 30px;
  }

  .mobile-artists-cards-row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    overflow-x: auto;
    width: 100%;
    gap: 20px;
  }

  .mobile-artists-card {
    flex: 0 0 calc(33.33% - 20px);
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    border-radius: 20px;
    background: #3B3B3B;
  }


  .mobile-section-headline {
    margin-left: 40px;
    margin-right: auto;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
  }

  .tablet-view-rankings-button {
    display: flex;
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: auto;
    width: 247px;
    gap: 12px;
  }

  .mobile-view-rankings-button {
    display: none;
  }

  .category-cards-tablet {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .category-cards {
    display: none;
  }



  /*DISCOVER NFTs*/

  .nft-highlight {
    display: none;
  }

  .discover-nft-see-all-button {
    display: none;
  }

  .discover-nft-see-all-button-tablet {
    display: flex;
    width: 247px;
    gap: 12px;
  }

  .nft-highlight-pc {
    display: flex;
  }

  .timer,
  .auction-timer {
    display: none;
  }

  .nft-highlight-button {
    width: 247px;
  }

  .timer-pc,
  .auction-timer-pc {
    display: flex;
  }

  .auction-timer-pc {
    justify-content: center;
  }

  .nft-highlight-pc {
    height: 400px;
  }

  /*how it works */

  .card-row {
    flex-direction: row;
    margin-bottom: 40px;
  }

  .info-card {
    flex-direction: column;
    padding-top: 0;
    height: 310;
    padding-bottom: 30px;
  }

  .info-card img {
    height: 100%;
    width: 100%;
  }

  /*SUBSCRIBE WIDGET */
  .subscribe-widget {
    display: none;
  }

  .subscribe-widget-tablet {
    display: flex;
  }

  .subscribe-widget-tablet {
    background: #3B3B3B;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 80px;
  }

  .subscribe-widget-tablet-img {
    height: 300px;
    width: 280px;
    border-radius: 20px;
  }

  .frame179 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1 0 0;
  }


  /* FOOTER */

  footer {
    align-items: normal;
  }

  .footer-info {
    margin-left: 30px;
  }

  .divider-section {
    width: 95%;
  }

  .input-placeholder-tablet {
    width: 420px;
  }

  .subscribe-form-tablet {
    align-items: normal;
    flex-direction: row;
  }

  .input-email-tablet {
    display: flex;
    align-items: center;
    position: relative;
  }

  .subscribe-button-tablet {
    width: 180px;
    position: absolute;
    right: 0px;
  }

  /* ANIM */

  .animation-up {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  }

  .animation-up.active {
    opacity: 1;
    transform: translateY(0);
  }

  .animation-left {
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.5s easy-in-out, transform 0.5s ease-in-out;
  }

  .animation-up.active {
    opacity: 1;
    transform: translateX(0);
  }

  /* Анімація для появи вгору */
  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}



@media (min-width: 1025px) {

  body {
    margin-left: 100px;
  }
  

  nav {
    display: none;
  }

  .nav,
  .navigation {
    display: flex;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .navigation {
    padding: 20px 50px;
    justify-self: space-between;
    align-self: stretch;
  }

  .login-button {
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    gap: 12px;
    border-radius: 20px;
    background: #A259FF;
  }

  .login-icon {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }

  .login-text {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
  }

  .storefont {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    margin-right: 12px;
  }

  .logo {
    margin-right: 10px;
    height: auto;
    width: auto;
  }

  .siteName {
    width: auto;
    height: auto;
    flex-shrink: 0;
    fill: white;
  }

  .nav-menu {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    align-items: center;
    gap: 10px;
    height: auto;
    width: auto;
  }

  .nav-menu-button {
    display: flex;
    height: 46px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    text-decoration: none;
  }

  .nav-menu-text {
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    /* 22.4px */
  }

  /*HERO SECTION-PC*/

  .mobile-hero-body-button {
    width: 224px;
    height: 60px;
  }

  .mobile-hero-section {
    display: flex;
    padding: 80px 195px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    align-self: stretch;
  }

  .mobile-hero-section-frame {
    margin-left: 0;
    margin-right: auto;
    width: 1050px;
  }

  .mobile-collection-card-pc {
    display: flex;
    /* width: 330px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
  }

  .mobile-section-headline {
    display: flex;
    width: 1046px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .mobile-top-rated-artists {
    align-items: normal;
  }

  .mobile-artists-cards-row {
    margin-left: 0;
    margin-right: auto;
  }


  body, html {
    overflow-x: hidden;
  }

  .divider-section {
    margin-left: 30px;
  }

  .footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 250px;
  }

  .mobile-section-headline {
    margin-left: 0;
    width: auto;
  }
}
