@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,600|Space+Mono:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  transition: transform 0.2s;
  text-decoration: none;
}

a:hover {
  transform: scale(0.9);
  /* -10% */
  transition: transform 0.2s;
  cursor: pointer;
}

.mobile-nav {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  justify-content: space-between;
  align-self: stretch;
}

.mobile-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.mobile-siteName {
  flex-grow: 1;
  fill: white;
  text-align: center;
}

.mobile-storefont {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-right: 12px;
}

.mobile-burger-menu {
  width: 24px;
  height: 24px;
}

/* HERO SECTION */
.mobile-hero-section-frame {
  display: flex;
  /* width: 1050px; */
  align-items: flex-start;
  gap: 40px;
}

.mobile-hero-section {
  display: flex;
  padding: 80px 195px;
  justify-content: center;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  background-color: #2B2B2B;
}

.mobile-hero-text-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  flex: 1 0 0;
}

.mobile-headline-subhead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
}

.mobile-headline {
  display: flex;
  /* width: 510px; */
  justify-content: center;
  color: #FFF;
  margin-bottom: 0;

  /* H1 - Work Sans */
  font-family: Work Sans;
  font-size: 67px;
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  /* 73.7px */
  text-transform: capitalize;
}

.mobile-subhead {
  color: #FFF;
  /* Body Text- Work Sans */
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  /* 35.2px */
  text-transform: capitalize;
}

.mobile-hero-body-button {
  /* width: 100%; */
  display: flex;
  height: 60px;
  padding: 0px 50px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  align-self: stretch;
  border-radius: 20px;
  background: #A259FF;
}

.mobile-hero-body-button-text {
  /* width: 100%; */
  height: 60px;
  color: #FFF;
  text-align: center;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%; /* 22.4px */
}

.mobile-hero-body-button-icon {
  width: 20px;
  height: 20px;
}

.mobile-additional-info {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  background-color: transparent;
  display: flex;
  gap: 5px;
  height: auto;
  position: relative;
}

.mobile-total-sale,
.mobile-total-auctions,
.mobile-total-artists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: transparent;
  border-radius: 20px;
  flex: 1;
  height: auto;
  position: relative;
}

.mobile-total-info-name {
  align-self: stretch;
  background-color: transparent;
  letter-spacing: 0.00px;
  line-height: 22.4px;
  mix-blend-mode: normal;
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.mobile-total-info-head {
  color: #FFF;
  /* width: 150px; */
  height: auto;
  /* H4 - Space Mono */
  font-family: Space Mono;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  /* 39.2px */
  text-transform: capitalize;
  margin: 0;
}

.highlited-NFT {
  display: flex;
  height: 510px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
}

.highlited-picture {
  /* width: 510px; */
  height: 401px;
  align-self: stretch;
  border-radius: 20px 20px 0px 0px;
  background: lightgray 50% / cover no-repeat;
}

.frame-230 {
  display: flex;
  height: 109px;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0px 0px 20px 20px;
  background: #3B3B3B;
}

.frame-230-text {
  align-self: stretch;
  color: #FFF;
  margin: 0;
  /* H5 - Work Sans */
  font-family: Work Sans;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
  /* 30.8px */
  text-transform: capitalize;
  margin-bottom: 0;
}

.artist-card {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 0 0 20px 20px;
}

.avatar {
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.artist-info {
  display: flex;
  align-items: center;
}

.highlited-text {
  flex: 1 1 0;
  color: #FFF;

  /* Base(Body) - Work Sans */
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 22.4px */
}
